h2
  display: table
  margin: 0 auto
  padding: 2px 30px
  border-radius: 20px
  background: #a2a2a2
  color: white
  margin-bottom: 20px

label
  display: table
  padding: 10px 0
  width: 100%

  i
    font-size: 1.5em
    display: inline-table
    vertical-align: middle
    width: 40px
    text-align: center

  input
    font-size: 14px
    display: inline-table
    width: calc(100% - 40px)
    background-color: white
    border: solid 1px #a2a2a2
    padding: 5px
    border-radius: 10px


.color-0
  color: #fe5e07
.bg-0
  background-color: #fe5e07
.color-1
  color: #fec907
.bg-1
  background-color: #fec907
.color-2
  color: #a0cc41
.bg-2
  background-color: #a0cc41
.color-3
  color: #00a2a2
.bg-3
  background-color: #00a2a2
